#menu-posts-soin-mains a.menu-icon-soin-mains> div{
    margin-right: 5px;
}
#menu-posts-soin-mains a.menu-icon-soin-mains> div >img{
    padding-top: 0px;
}
#menu-posts-soin-corps a.menu-icon-soin-corps> div {
    margin-right: 9px;
}
#menu-posts-soin-corps a.menu-icon-soin-corps> div>img {
    width: 36px;
    height: 34px;
    padding: 0 3px 0 2px;
   
}