.manage-column.column-thumbnail {
    width: 150px;
}

.column-kalys_sponso {
    text-align: center;
    align-items: center;
}

.column-kalys_sponso .bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: greenyellow;
}

.column-kalys_sponso .bullet-no {
    background: red;
}