@font-face {
  font-family: 'Alex Brush';
  src: url('assets/font/AlexBrush-Regular.eot');
  src: url('assets/font/AlexBrush-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/font/AlexBrush-Regular.svg#AlexBrush-Regular') format('svg'),
    url('assets/font/AlexBrush-Regular.ttf') format('truetype'),
    url('assets/font/AlexBrush-Regular.woff') format('woff'),
    url('assets/font/AlexBrush-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Charm';
  src: url('assets/font/Charm-Regular.eot');
  src: url('assets/font/Charm-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/font/Charm-Regular.svg#Charm-Regular') format('svg'),
    url('assets/font/Charm-Regular.ttf') format('truetype'),
    url('assets/font/Charm-Regular.woff') format('woff'),
    url('assets/font/Charm-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  
}

@font-face {
  font-family: 'Charm-Bold';
  src: url('assets/font/Charm-Bold.eot');
  src: url('assets/font/Charm-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/font/Charm-Bold.svg#Charm-Bold') format('svg'),
    url('assets/font/Charm-Bold.ttf') format('truetype'),
    url('assets/font/Charm-Bold.woff') format('woff'),
    url('assets/font/Charm-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  
}
@font-face {
  font-family: 'Tillana';
  src: url('assets/font/Tillana-Regular.eot');
  src: url('assets/font/Tillana-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/font/Tillana-Regular.svg#Tillana-Regular') format('svg'),
    url('assets/font/Tillana-Regular.ttf') format('truetype'),
    url('assets/font/Tillana-Regular.woff') format('woff'),
    url('assets/font/Tillana-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  
}
@font-face {
  font-family: 'Tillana-Medium';
  src: url('assets/font/Tillana-medium.eot');
  src: url('assets/font/Tillana-medium.eot?#iefix') format('embedded-opentype'),
    url('assets/font/Tillana-medium.svg#Tillana-medium') format('svg'),
    url('assets/font/Tillana-medium.ttf') format('truetype'),
    url('assets/font/Tillana-medium.woff') format('woff'),
    url('assets/font/Tillana-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  
}
@font-face {
  font-family: 'Tillana-Bold';
  src: url('assets/font/Tillana-Bold.eot');
  src: url('assets/font/Tillana-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/font/Tillana-Bold.svg#Tillana-Bold') format('svg'),
    url('assets/font/Tillana-Bold.ttf') format('truetype'),
    url('assets/font/Tillana-Bold.woff') format('woff'),
    url('assets/font/Tillana-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  
}
@font-face {
  font-family: 'Tillana-SemiBold';
  src: url('assets/font/Tillana-SemiBold.eot');
  src: url('assets/font/Tillana-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('assets/font/Tillana-SemiBold.svg#Tillana-SemiBold') format('svg'),
    url('assets/font/Tillana-SemiBold.ttf') format('truetype'),
    url('assets/font/Tillana-SemiBold.woff') format('woff'),
    url('assets/font/Tillana-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
  
}
@font-face {
  font-family: 'Tillana-ExtraBold';
  src: url('assets/font/Tillana-ExtraBold.eot');
  src: url('assets/font/Tillana-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('assets/font/Tillana-ExtraBold.svg#Tillana-ExtraBold') format('svg'),
    url('assets/font/illana-ExtraBold.ttf') format('truetype'),
    url('assets/font/Tillana-ExtraBold.woff') format('woff'),
    url('assets/font/Tillana-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  
}