/**********
file vars  css
*****/
// color vars
$title-color:#f0b5b5;
$background-boxed-home: #d7eadf;
$font-body-color:#5B5B5B;
$font-nav-active:#b819d5d6;
$link-hover:#000000;
$color-shadow:#ffffff;



// Font vars//
$font-title: 'Alex Brush';
$font-title2: 'Chram';
$font-body:'Charm';
$font-body-bold:'Charm-bold';
