@font-face {
  font-family: 'Alex Brush';
  src: local('/font/AlexBrush-Regular.eot');
  src: local('/font/AlexBrush-Regular.eot?#iefix') format('embedded-opentype'),
    local('/font/AlexBrush-Regular.svg#AlexBrush-Regular') format('svg'),
    local('/font/AlexBrush-Regular.ttf') format('truetype'),
    local('/font/AlexBrush-Regular.woff') format('woff'),
    local('/font/AlexBrush-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Charm';
  src: local('/font/Charm-Regular.eot');
  src: local('/font/Charm-Regular.eot?#iefix') format('embedded-opentype'),
    local('/font/Charm-Regular.svg#Charm-Regular') format('svg'),
    local('/font/Charm-Regular.ttf') format('truetype'),
    local('/font/Charm-Regular.woff') format('woff'),
    local('/font/Charm-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  /*font-display: fallback;*/
}

@font-face {
  font-family: 'Charm-bold';
  src: local('/font/Charm-Bold.eot');
  src: local('/font/Charm-Bold.eot?#iefix') format('embedded-opentype'),
    local('/font/Charm-Bold.eot.svg#Charm-Bold.eot') format('svg'),
    local('/font/Charm-Bold.eot.ttf') format('truetype'),
    local('/font/Charm-Bold.eot.woff') format('woff'),
    local('/font/Charm-Bold.eot.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  /*font-display: fallback;*/
}